.image-container{
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.popularseries-image{
	width: 90%; 
	margin: auto;
}