.searchbox-container{
	margin-right: 20px;
}

.search-button{
	border: none;
	background: none;
}

.BsSearch{
	color: white; 
}

.error-overlay{
	min-height: 100vh; 
	width: 100%; 
	display: block; 
	z-index: 100; 
	position: fixed; 
	top: 55px; 
	left: 0; 
	background: black;
}

.search-overlay{
	min-height: 100%; 
	width: 100%; 
	display: block; 
	z-index: 100; 
	position: absolute; 
	top: 55px; 
	left: 0; 
	background: black;
}

.no-results{
	position: fixed;
	top: 50%;
	left: 40%;
}

.close-button{
	background: none;
	border: none; 
	float: right;
}


.close-button:focus {
  background:red;
}

.BsFillXSquareFill{
	color: white;
	font-size: 30px;
	margin: 20px;
}

.search-results-container{
	height: 100%; 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background: black;
}