.serieposter-container{
	height: 100%;
	width: 300px;
	margin: 10px;
	position: relative;
}

.serieposter-container:hover{
	cursor: pointer;
}

img{
	width: 100%;
}

.BiConfused-container{
	width: 300px; 
	margin: 10px;
	text-align: center;
}

.BiConfused{
	color: #282929;
	font-size: 80px; 
	margin-top:50%;
}

no-image{
	color: #282929; 
	font-size: 18px;
	font-weight: bold; 
	margin-top: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

.serieposter-container{
	width: 200px;
}

.BiConfused-container{
	width: 200px; 
}

.BiConfused{
	font-size: 3em; 
	margin-top:50%;
}

no-image{
	font-size: 1em;
}

} /*end @media screen and (min-width: 600px) and (max-width: 1023px)*/

@media all and (max-width: 599px) {

.serieposter-container{
	width: 120px;
}

.BiConfused-container{
	width: 120px; 
}

.BiConfused{
	font-size: 1.5em; 
	margin-top:50%;
}

no-image{
	font-size: 0.7em;
}

} /*end @media all and (max-width: 599px)*/